<style>
    .footer{
        font-size: 12px;
        background-color: rgba(26, 36, 52);
        height: 20px;
        text-align: center;
        color: white;
        padding-top: 3px;
    }
</style>

<p class="footer">ΑΟ ΔΙΑΝΑ &copy; 2022</p>