<link href="/styles/header.css" type="text/css" rel="stylesheet" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<header>
    <div class="nav-bar">
        <div class="logo-socials">
            <div class="logo">
                <a href="/"><img class="logo" src="https://i.ibb.co/rwf4qGv/logo.png" alt="ΑΟ ΔΙΑΝΑ"></a>
            </div>
            <form action="/search" method="POST">
                <div class="search">
                    <input type="text" id="input" name="input" placeholder="Αναζήτηση..." autocomplete="off">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="autocom-box" id="autocom-box"></div>
            </form>

            <div class="social">
                <span>Ακολουθήστε μας στα social media :</span>
                <ul>
                    <li><a href="https://www.facebook.com/DIANA-Academy-%CE%91%CE%BA%CE%B1%CE%B4%CE%B7%CE%BC%CE%AF%CE%B1-%CE%A0%CE%BF%CE%B4%CE%BF%CF%83%CF%86%CE%B1%CE%AF%CF%81%CE%BF%CF%85-%CE%94%CE%99%CE%91%CE%9D%CE%91-%CE%97%CE%BB%CE%B9%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7%CF%82-244000022464895/"
                            target="_blank"><i class='fab fa-facebook-f'></i></a></li>
                    <li><a href="https://www.instagram.com/diana_ilioupolis/" target="_blank"><i
                                class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=" https://www.youtube.com/channel/UCbTJE5V84Dzety2PH4zLd4w/videos" target="_blank"><i
                                class="fab fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="menu">
            <ul class="nav">
                <li id="home"><a href="/" id="a-home">Αρχική</a></li>
                <li><a href="/history">Ιστορία</a></li>
                <li><a href="/news" >Νέα</a></li>
                <li><a href="/team">Ρόστερ</a></li> 
                <li><a href="/contactus" id="contactus">Επικοινωνία</a></li>
            </ul>
        </div>

        <div class="mobile-menu">
            <ul class="mobile-nav">
                <li><a href="/">Αρχική</a></li>
                <li><a href="/history">Ιστορία</a></li>
                <li><a href="/news" id="news">Νέα</a></li>
                <li><a href="/team">Ρόστερ</a></li> 
                <li><a href="/contactus">Επικοινωνία</a></li>
            </ul>
        </div>
    </div>

    <script src="/scripts/header.js"></script>
</header>


