<header>
    <!-- Logo-->
    <div class="logo" id="logo">
        <a href="/"><img src="https://i.ibb.co/rwf4qGv/logo.png" alt="ΑΟ ΔΙΑΝΑ" style="height: 120px;"></a>
    </div>

    <!-- Mobile Burger Menu -->
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    <!-- Header right side -->
    <div class="header-right-side" id="header-right-side">

        <!-- Social Media Links-->
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/DIANA-Academy-%CE%91%CE%BA%CE%B1%CE%B4%CE%B7%CE%BC%CE%AF%CE%B1-%CE%A0%CE%BF%CE%B4%CE%BF%CF%83%CF%86%CE%B1%CE%AF%CF%81%CE%BF%CF%85-%CE%94%CE%99%CE%91%CE%9D%CE%91-%CE%97%CE%BB%CE%B9%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7%CF%82-244000022464895/"
                        target="_blank">
                        <div class="popup" id="popup0">
                            <i class="fab fa-facebook" aria-hidden="true"></i><span class="popuptext"
                                id="pop0">Facebook</span>
                        </div>
                    </a></li>
                <li><a href="https://www.instagram.com/diana_ilioupolis/" target="_blank">
                        <div class="popup" id="popup1">
                            <i class="fab fa-instagram" aria-hidden="true"></i><span class="popuptext" id="pop1" ">Instagram</span>
                    </div>
                </a></li>
            <li><a href=" https://www.youtube.com/channel/UCbTJE5V84Dzety2PH4zLd4w/videos" target="_blank">
                                <div class="popup" id="popup2">
                                    <i class="fab fa-youtube" aria-hidden="true"></i><span class="popuptext"
                                        id="pop2">Youtube</span>
                                </div>
                    </a></li>
            </ul>
        </div>

        <!-- Search box -->
        <form action="/search" method="POST">
            <div class="search">
                <input type="text" id="input" name="input" placeholder="Αναζήτηση...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="autocom-box" id="autocom-box"></div>
        </form>

        <!-- Navbar -->
        <svg id="erExq6RFwmQ1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 1440 50" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
            <polygon id="erExq6RFwmQ2" points="0,-66.473285 57.567554,33.236643 -57.567554,33.236643 0,-66.473285"
                transform="matrix(1.24319 0 0 1.099958 25.920749 92.811809)" fill="#1A2434" stroke="none"
                stroke-width="0" />
            <path id="erExq6RFwmQ3"
                d="M59.61309,149.06471C31.98938,149.06471,9.59594,115.69544,9.59594,74.53236C9.59594,33.36928,31.98938,0.00001,59.61309,0.00001L1524.99271,0.00001C1552.61642,0.00001,1575.00986,33.36928,1575.00986,74.53236C1575.00986,115.69544,1552.61642,149.06471,1524.99271,149.06471L59.61309,149.06471Z"
                fill="#1A2434" stroke="none" stroke-width="0" />
            <foreignobject class="foreign" width="100%" height="100%">
                <div class="menu" id="menu">
                    <ul class="nav">
                        <li><a href="/">Αρχική</a></li>
                        <li><a href="/history">Ιστορία</a></li>
                        <li><a href="/team">Ρόστερ</a></li>
                        <li><a href="/schedule">Πρόγραμμα</a></li>
                        <li><a href="/news">Νέα</a></li>
                    </ul>
                </div>
            </foreignobject>
        </svg>
    </div>

    <div class="mobile-menu" id="mobile-menu">
        <ul class="nav">
            <li><a href="/">Αρχική</a></li>
            <li><a href="/history">Ιστορία</a></li>
            <li><a href="/team">Ρόστερ</a></li>
            <li><a href="/schedule">Πρόγραμμα</a></li>
            <li><a href="/news">Νέα</a></li>
        </ul>
    </div>

    <script src="/scripts/header.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</header>