<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/styles/contact-us.css" type="text/css" rel="stylesheet" />


<div class="page-title">ΕΠΙΚΟΙΝΩΝΙΑ</div>
<div class="contact-wrapper">
  <div class="left-section">
    <div class="info">
      <p><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; Ώρες Λειτουργίας : Δευ-Τετ-Παρ : 18:00-22:00</p>
      <p><i class="fa fa-phone" ></i>&nbsp;&nbsp;Τηλέφωνο Επικοινωνίας : <a href="tel:693 655 8455">693 655 8455</a></p>
      <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;E-mail : <a href = "mailto: abc@example.com">dianaacademy1974@gmail.com</a></p>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12585.003861351226!2d23.7638351!3d37.9479257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d9a6584e872aa6!2zzpHOuM67zrfPhM65zrrPjM-CIM6MzrzOuc67zr_PgiDOlM65zqzOvc6x!5e0!3m2!1sel!2sgr!4v1661243442586!5m2!1sel!2sgr" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="widgets">
    <p class="socials-p">Βρείτε μας <br> στα Social Media:</p>
    <div class="fb-page" data-href="https://www.facebook.com/DIANA-Academy-%CE%91%CE%BA%CE%B1%CE%B4%CE%B7%CE%BC%CE%AF%CE%B1-%CE%A0%CE%BF%CE%B4%CE%BF%CF%83%CF%86%CE%B1%CE%AF%CF%81%CE%BF%CF%85-%CE%94%CE%99%CE%91%CE%9D%CE%91-%CE%97%CE%BB%CE%B9%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7%CF%82-244000022464895/" data-tabs="" data-width="300" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DIANA-Academy-%CE%91%CE%BA%CE%B1%CE%B4%CE%B7%CE%BC%CE%AF%CE%B1-%CE%A0%CE%BF%CE%B4%CE%BF%CF%83%CF%86%CE%B1%CE%AF%CF%81%CE%BF%CF%85-%CE%94%CE%99%CE%91%CE%9D%CE%91-%CE%97%CE%BB%CE%B9%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7%CF%82-244000022464895/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DIANA-Academy-%CE%91%CE%BA%CE%B1%CE%B4%CE%B7%CE%BC%CE%AF%CE%B1-%CE%A0%CE%BF%CE%B4%CE%BF%CF%83%CF%86%CE%B1%CE%AF%CF%81%CE%BF%CF%85-%CE%94%CE%99%CE%91%CE%9D%CE%91-%CE%97%CE%BB%CE%B9%CE%BF%CF%8D%CF%80%CE%BF%CE%BB%CE%B7%CF%82-244000022464895/">DIANA Academy -Ακαδημία Ποδοσφαίρου ΔΙΑΝΑ Ηλιούπολης</a></blockquote></div>
    <div><iframe class="insta" src="https://www.instagram.com/p/Cg6rzLEsW0k/embed"  frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>
    <div class="yt"> 
      <div class="g-ytsubscribe" id="yt" data-channelid="UCbTJE5V84Dzety2PH4zLd4w" data-layout="full" data-count="default"></div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v14.0" nonce="i2yXyaNH"></script>
<script src="https://apis.google.com/js/platform.js"></script>
