<link href="/styles/history.css" type="text/css" rel="stylesheet" />

<div class="page-title">ΙΣΤΟΡΙΑ</div>
<div class="history-container">
  <div class="left-side">
    <div class="num left load">1974</div>
    <div class="paragraph load">
      <p>Παρά τα 47 χρόνια ιστορίας της, δεν συμμετείχε στα πρωταθλήματα της Ένωσης Ποδοσφαιρικών Σωματείων Αθήνας
        (ΕΠΣΑ) μέχρι και το 1989,
        δηλαδή εδώ και 33 χρόνια.</p>
    </div>
    <div class="num left reveal-a">33</div>
    <div class="paragraph reveal-a">
      <p>Η υψηλότερη θέση που έχει κατακτήσει ο σύλλογος είναι η 3η θέση στο πρωτάθλημα της Α’ κατηγορίας, την σεζόν
        2018-19.</p>
    </div>
    <div class="num left reveal-b">3</div>
    <div class="paragraph reveal-b">
      <p>Οι αδιάψευστοι αριθμοί μιλούν για 1396 βαθμούς (σε 952 αγώνες) τους οποίους έχει συγκεντρώσει συνολικά η
        ΔΙΑΝΑ, η οποία έχει πετύχει 406 νίκες, 223 ισοπαλίες και 322 ήττες.</p>
    </div>
    <div class="num left reveal-c">1350</div>
    <div class="paragraph reveal-c">
      <p>Η μεγαλύτερη νίκη του συλλόγου μας είναι αυτή κόντρα στον Αίμο Πετρούπολης με 10-1 στο πρωτάθλημα της Β’
        κατηγορίας, το 2000, ενώ η μεγαλύτερη ήττα ήταν αυτή από την ΑΕ Ηρακλείου το 2008 με 9-0, επίσης στο
        πρωτάθλημα της Β’ κατηγορίας.</p>
    </div>
  </div>
  <div class="line">
    <div class="rhombus">
    </div>
    <div class="rhombus-bottom">
    </div>
  </div>
  <div class="right-side ">
    <div class="paragraph load">
      <p>Το σωματείο μας ιδρύθηκε το 1974 απο μία παρέα ανθρώπων που αγαπούσαν το ποδόσφαιρο και ήθελα να
        δημιουργήσουν μία ομάδα γειτονιάς.</p>
    </div>
    <div class="num right load">1989</div>
    <div class="paragraph reveal-a">
      <p>Σε αυτά τα 33 χρόνια, η ομάδας μας έχει αγωνιστεί 6 φορές στο πρωτάθλημα της Γ’ κατηγορίας, 13 φορές στην Β’
        και 12 φορές στην Α’ κατηγορία.</p>
    </div>
    <div class="num right reveal-a">3η</div>
    <div class="paragraph reveal-b">
      <p>Έχει αναδειχθεί 3 φορές πρωταθλήτρια, μία φορά στην Γ’ κατηγορία το 1994 και δύο φορές στην Β’ κατηγορία τις
        σεζόν <br>2009-10 και 2013-14.</p>
    </div>
    <div class="num right reveal-b">1396</div>
    <div class="paragraph reveal-c">
      <p>Η ΔΙΑΝΑ έχει πετύχει 1350 γκολ, ενώ έχει δεχθεί 1096.</p>
    </div>
    <div class="num right reveal-c">10-1</div>
    <div class="paragraph"></div>
    <div class="num right"></div>
  </div>
</div>
</div>

<script src="/scripts/history.js"></script>

