<style>
  body {
    background: url("https://i.ibb.co/k2S3jrR/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .standings {
    background-color: white;
    margin-top: 40px;
    width: 58%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: solid grey 2px;
  }

  table {
    width: 88%;
    margin: 0 auto;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    font-size: 14px;
  }

  .logos {
    width: 25px;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  tr {
    text-align: center;
  }

  table,
  td,
  tr,
  th {
    border: 1px solid #ddd;
  }

  td {
    padding: 5px;
    font-weight: lighter;
  }

  tr:hover {
    background-color: rgb(238, 238, 238);
    transition: 0.3s ease;
  }

  .team-name {
    font-weight: bold;
  }

  .first-row {
    background-color: grey;
    color: white;
    height: 25px;
  }

  .first-row:hover {
    background-color: rgb(102, 102, 102);
  }
</style>
</head>

<body>
  <div class="standings">
    <table>
      <tr class="first-row">
        <th> </th>
        <th>Ομάδα</th>
        <th>Βαθμοί</th>
        <th>Αγώνες</th>
        <th>Νίκες</th>
        <th>Ισοπαλίες</th>
        <th>Ήττες</th>
        <th>Υπέρ</th>
        <th>Κατά</th>
      </tr>
      <tr>
        <td> 1.</td>
        <td class="team-name"><img class="logos" src="https://i.ibb.co/pvQz854/logo.png">&nbsp;ΔΙΑΝΑ ΗΛΙΟΥΠΟΛΗΣ</td>
        <td>16</td>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>15</td>
        <td>3</td>
      </tr>
      <tr>
        <td> 2.</td>
        <td class="team-name"><img class="logos" src="https://i.ibb.co/Gt3xR8k/panerithraikos.png">&nbsp;ΠΑΝΕΡΥΘΡΑΪΚΟΣ
        </td>
        <td>16</td>
        <td>7</td>
        <td>5</td>
        <td>1</td>
        <td>1</td>
        <td>13</td>
        <td>5</td>
      </tr>
      <tr>
        <td> 3.</td>
        <td class="team-name">ΔΑΦΝΗ Π. ΦΑΛΗΡΟΥ</td>
        <td>15</td>
        <td>7</td>
        <td>4</td>
        <td>3</td>
        <td>0</td>
        <td>12</td>
        <td>5</td>
      </tr>
      <tr>
        <td> 4.</td>
        <td class="team-name">ΗΦΑΙΣΤΟΣ ΠΕΡ/ΡΙΟΥ</td>
        <td>14</td>
        <td>7</td>
        <td>4</td>
        <td>2</td>
        <td>1</td>
        <td>14</td>
        <td>6</td>
      </tr>
      <tr>
        <td> 5.</td>
        <td class="team-name">ΑΕ ΗΡΑΚΛΕΙΟ</td>
        <td>11</td>
        <td>7</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>10</td>
        <td>5</td>
      </tr>
      <tr>
        <td> 6.</td>
        <td class="team-name">ΑΟ.Ν.Φ.ΑΤΤΑΛΟΣ</td>
        <td>11</td>
        <td>7</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>6</td>
        <td>6</td>
      </tr>
      <tr>
        <td> 7.</td>
        <td class="team-name">ΘΥΕΛΛΑ ΑΓ. ΔΗΜΗΤΡΙΟΥ</td>
        <td>11</td>
        <td>7</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td> 8. </td>
        <td class="team-name">ΟΛΥΜΠΙΑΚΟΣ Ν.ΛΙΟΣΙΩΝ</td>
        <td>8</td>
        <td>7</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td> 9. </td>
        <td class="team-name">ΧΑΪΔΑΡΙ</td>
        <td>8</td>
        <td>7</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td> 10. </td>
        <td class="team-name">ΕΛΠΙΔΑ ΑΓ. ΑΝΑΡΓΥΡΩΝ</td>
        <td>8</td>
        <td>7</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
        <td>6</td>
        <td>10</td>
      </tr>
      <tr>
        <td> 11. </td>
        <td class="team-name">ΑΓ. ΔΗΜΗΤΡΙΟΣ</td>
        <td>6</td>
        <td>7</td>
        <td>2</td>
        <td>0</td>
        <td>5</td>
        <td>5</td>
        <td>14</td>
      </tr>
      <tr>
        <td> 12. </td>
        <td class="team-name">ΛΥΚΟΒΡΥΣΗ</td>
        <td>5</td>
        <td>7</td>
        <td>1</td>
        <td>2</td>
        <td>4</td>
        <td>6</td>
        <td>14</td>
      </tr>
      <tr>
        <td> 13. </td>
        <td class="team-name">ΝΕΑ ΙΩΝΙΑ</td>
        <td>3</td>
        <td>7</td>
        <td>0</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>10</td>
      </tr>
      <tr>
        <td> 14. </td>
        <td class="team-name">ΑΣΤΕΡΑΣ ΖΩΓΡΑΦΟΥ</td>
        <td>2</td>
        <td>7</td>
        <td>0</td>
        <td>2</td>
        <td>5</td>
        <td>6</td>
        <td>16</td>
      </tr>
    </table>
  </div>
</body>