<main>
    <link href="/styles/articles.css" type="text/css" rel="stylesheet" />
    <h1>Αποτελέσματα Αναζήτησης</h1>
        <% if (articles[0].title === "Oops,nothing Found"){ %>
        <%= articles[0].title %>
        <% }else{%>
            <%- include('../articles/all-articles.ejs') %>
        <% } %>
</main>