@font-face {
    font-family: 'Zona Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Thin'), url('/extras/ZonaPro-Thin.woff') format('woff');
}

h1{
    font-size: 2.7vw;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('https://i.ibb.co/X23sfCZ/3469854-Copy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -50px 25px -10px #1A2434;
    box-shadow: inset 0px -50px 25px -10px #1A2434;
}

.articles-container{
    display: flex;
    justify-content: center;
}


.articles {
    background-color: white;
    width: 45% ;
    padding-bottom: 10px;
}


#article-body {
    display: flex;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;

}

.article-image-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.article-image-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform .5s ease;
}

.article-image-container:hover img {
    width: 400px;
    height: 300px;
    transform: scale(1.2);
}

.article-container {
    margin-left: 10px;
    width: 400px;
}

.article-title {
    font-size: 1.2vw;
    color: #1A2434;
    height: 20%;
}

.date {
    font-family: 'Zona Pro Thin';
    color: rgb(120, 120, 120);
    font-size: 0.5vw;
    font-weight: bold;
    height: 10%;
}

.article-description{
    font-family: 'Zona Pro Thin';
    color: #1A2434;
    font-size: 0.7vw;
    font-weight: bolder;
    height: 55%;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 45px;
    background-color: #1a2434;
}

.read-more a {
    color: white;
    text-decoration: none;
}

.read-more:hover{
    background-color: #1a243486;
}
