@font-face {
    font-family: 'Zona Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Thin'), url('/extras/ZonaPro-Thin.woff') format('woff');
}

h1{
    font-size: 2.7vw;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('https://i.ibb.co/X23sfCZ/3469854-Copy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -50px 25px -10px #1A2434;
    box-shadow: inset 0px -50px 25px -10px #1A2434;
}
.articles-container{
    display: flex;
    justify-content: center; 
}


.articles {
    margin-top: 1vh;
    padding-bottom: 10px;
    padding-top: 1vh;
    background-color: #eeeff4;
}


.article-body {
    display: flex;
    width: 45vw;
    background-color: white;
    margin: 20px 20px 0px 20px;
    -webkit-box-shadow: 0px 0px 5px 2px #221c352c; 
    box-shadow: 0px 0px 5px 2px #221c352c;
}

.article-body:hover {
    -webkit-box-shadow: 0px 0px 5px 2px #221c355e; 
    box-shadow: 0px 0px 5px 2px #221c355e;
    transition: 0.5s ease;
}

.article-image-container {
    
    width: 400px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.article-image-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform .5s ease;
}

.article-image-container:hover img {
    width: 400px;
    height: 300px;
    transform: scale(1.2);
}

.article-container {
    margin: 15px;
    width: 400px;
    animation: load 1.3s;
}

.article-title {
    font-size: 1.2vw;
    color: black;
    height: 20%;
}

.date {
    font-family: 'Zona Pro Thin';
    color: rgb(120, 120, 120);
    font-size: 0.5vw;
    font-weight: bold;
    height: 10%;
}

.article-description{
    font-family: 'Zona Pro Thin';
    color: #1A2434;
    font-size: 0.7vw;
    font-weight: bolder;
    height: 55%;
}
.options{
    display: flex;
    width: 28vw;
    justify-content: space-between;
}

.read-more , .delete-article , .edit-article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 45px;
    color: white;
    text-decoration: none;
}

.read-more {
    background-color: #1A2434;
}

.delete-article{
    background-color: rgb(187, 70, 70);
}

.edit-article{
    background-color: #1b3661;
}

.delete-article:hover , .edit-article:hover{
    opacity: 0.7;
}

.read-more span{
    padding-left: 0.6vw;
}

.arrow{
    opacity: 0;
}
.read-more:hover{
    background-color: white;
    color: #1A2434;
    transition: 0.2s ease;
}
.read-more:hover span{
    padding-left: 0;
    transition: 0.3s ease;
}
.read-more:hover .arrow{
    opacity: 1;
    transition: 0.5s ease;
    padding-left: 0.1vw;
}

.articles-datebased{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}

.line-break{
    width: 75vw;
    height: 7px;
    margin: 4vh 0 2vh 3vw;
    background: linear-gradient(90deg, rgba(147,29,55,1) 0%, rgba(26,36,52,1) 75%);
}

.line-break .skewd{
    position: relative;
    left: -1vw;
    height: 7px;
    width: 2vw;
    background-color: rgba(147,29,55,1);
    transform: skew(-60deg, 0);
}

.articles-datebased p {
    margin-top: 2vh;
}

.day-month{
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}

.weekday{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.85)
}