@font-face {
    font-family: 'Zona Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Bold'), url('/extras/ZonaPro-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Zona Pro Bold';
}


header {
    font-size: 12px;
    background: #1A2434;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
    height: 145px;
    z-index: 100;
}

main {
    position: relative;
    top: 145px;
}


/* Navigation bar */
.menu {
    width: 96%;
    float: right;
    background-color: #1A2434;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    line-height: 45px;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-color: white;
}

.nav li {
    width: 100%;
    list-style: none;
    text-align: center;
    display: block;
}

.nav li a {
    color: white;
    text-decoration: none; /*removes underline*/
    display: block; /*links clickable everywhere*/
}

.nav li:hover {
    cursor: pointer;
    background-color: #304361
}

.logo {
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img{
    filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
}

.logo img:hover{
    filter: opacity(1.2);
    -webkit-filter: opacity(1.2);
}


.header-right-side {
    padding-top: 20px;
    width: 75%;
    float: right;
}

/* Social Media Links */
.social {
    display: flex;
    width: 180px;
    height: 40px;
    font-size: 12px;
    transition: 0.4s;
    float: right;
    margin-right: 60px;
}

.social ul {
    display: flex;
    list-style: none;
    float: right;
    width:100%;
    justify-content: space-around;
}

.social ul i {
    font-size: 25px;
    color: white;
}

.social ul i:hover,
.social ul i:focus {
    color: #9e2626;
    transform: scale(1.2);
    transition: 0.4s;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Social Media links popup */
.popup .popuptext {
    visibility: hidden;
    width: 120px;
    background-color: #9e2626;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -180%;
    left: 50%;
    margin-left: -60px;
  }
  
  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top:-30%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #9e2626 transparent ;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header on Scroll down */

header.sticky {
    background: transparent;
    position: fixed;
    /* position fixed & z-index makes the header always appear in front of other elements */
    z-index: 100;
}

header.sticky .logo,
header.sticky .search,
header.sticky .social,
header.sticky .header-right-side .social ul
{
    visibility: hidden;
    height: 0px;  
}

header.sticky .header-right-side .social ul i{
    font-size: 0px;
}
header.sticky .header-right-side{
    padding-top: 0;
}

/* Search */
.search {
    border-bottom: 1px solid white;
    width: 175px;
}

input {
    background-color: transparent;
    border: none;
    height: 25px;
    width: 150px;
    padding-left: 5px;
}

::placeholder {
    opacity: 0.7;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
}

input,select,textarea {
    color: #ffffff;
    font-size: 12px;
}

/* Search Results */
.autocom-box {
    position: absolute;
    top: 6;
    left: 51;
    z-index: 9;
    color: white;
    background-color: rgb(41, 57, 85);
    width: 180px;
}

.autocom-box li :hover {
    background-color: rgb(64, 89, 133)
}

.autocom-box li {
    width: 100%;
    font-size: 12px;
    list-style: none;
    display: block; /*center text*/
    cursor: pointer;
    font-family: 'Zona Pro Thin';
}

.autocom-box li a {
    height: 35px;
    padding: 10px;
    color: white;
    text-decoration: none; /*removes underline*/
    display: block; /*links clickable everywhere*/   
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    top: 35%;
    width: 60px;
    height: 40px;
}

.toggle-button .bar {
    height: 6px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
