@font-face {
    font-family: 'Zona Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Thin'), url('/extras/ZonaPro-Thin.woff') format('woff');
}


.carousel{
    display: flex;
}

.column {
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -80px 25px -7px #1A2434; 
    box-shadow: inset 0px -80px 25px -7px #1A2434;
    cursor: pointer;
    text-align: center;
}


.column .title {
    height: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 440px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    animation: load 1.3s;
}

.column .description{
    text-align: center;
    font-size: 10px;
    color: rgb(255, 255, 255);
    opacity: 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    margin: 2vh;
}

#column1{
    flex-grow: 1;
}
.column:hover {
    width: 50%;
    transition: 0.3s ease;
}

.column:not( :hover ){
    width: 25%;
    transition: 0.3s ease;
}

.column:hover .title {
    font-size: 30px;
    margin-top: 400px;
    transition: 0.3s ease;
}

.column:hover .description{
    transition: 0.5s ease;
    margin-top: 2vh;
    opacity: 1;
}

.container{
    background-color: #eeeff4;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1vh;
}

.latest-news{
    background-color: white;
    position: relative;
    left: 18.5vw;
    top: 4vh;
    width: 43vw;
    height: 60px;
    -webkit-box-shadow: 0px 0px 5px 2px #221c352c; 
    box-shadow: 0px 0px 5px 2px #221c352c;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.latest-news:hover .blue-span {
    transform: translateY(-5px);
}

.latest-news:hover .red-span{
    transform: translateY(5px);
}

.blue-span{
    position: relative;
    width: 10px;
    height: 50px;
    top: 5px;
    background-color: #1A2434;
    margin-left: 5px;
    transition: 0.2s;
}

.red-span{
    position: relative;
    bottom: 5px;
    width: 10px;
    height: 50px;
    background-color: rgba(147,29,55,1) ;
    margin-right: 5px;
    transition: 0.2s;
}

.home-container p{
    padding-top: 15px;
}

.articles-container{
    padding-top: 20px;
}

@media (max-width: 1200px) {

    .carousel{
        flex-direction: column;
    }
    
    .column{
        height: 500px;
        width: 100%;
    }
    
    .column .title{
        font-size: 14px;
        margin-top: 450px;
    }

    .column:hover {
        width: 100%;
        transition: 0.3s ease;
    }
    
    .column:not( :hover ){
        width: 100%;
        transition: 0.3s ease;
    }
    
    .column:hover .title {
        font-size: 20px;
        margin-top: 420px;
        transition: 0.3s ease;
    }
    
    .column:hover .description{
        transition: 0.5s ease;
        margin-top: 2vh;
        opacity: 1;
    }

    .nav-bar::after{
        display: none;
    }

    .container{
        width: 100vw;
        margin-left: 0;
    }

    .latest-news{

        left: 25%;
        top: 10px;
        width: 50%;
        height: 60px;
        font-size: 15px;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}