main{
    position: relative;
    top: 15vh;          /*equals to 15vh,but we use px so the header is not minimizing with the window height*/
    min-height: 85vh;
    background: -moz-linear-gradient(top, #1a2434 40%, #931d37 50%, #d14f51 85%,#d14f51 );
    background: -webkit-linear-gradient(top, #1a2434 40%, #931d37 50%, #d14f51 85%, #d14f51 );
    background: linear-gradient(to bottom, #1a2434 40%, #931d37 50%, #d14f51 85%,#d14f51 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a2434', endColorstr='#ff6668', GradientType=0);
}

.mobile-menu{
    display: none;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    top: 35%;
    width: 60px;
    height: 40px;
}

.toggle-button .bar {
    height: 6px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1800px) {

    .header{
        display: flex;
    }
    .menu{
        display: none;
    }

    .bottom{
        display: none;
    }
    .social{
        margin-left: 0;
    }

    .social span{
        display: none;
    }
}


