main {
    position: relative;
    top: 120px;
    min-height: calc(100vh-140px-20px);
    background: linear-gradient(0deg, rgba(147, 29, 55, 1) 0%, rgba(26, 36, 52, 1) 55%);
}

body{
    background-color: #1A2434;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-title {
    font-size: 2.7vw;
    color: white;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url('https://i.ibb.co/X23sfCZ/3469854-Copy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px -50px 25px -10px #1A2434;
    box-shadow: inset 0px -50px 25px -10px #1A2434;
}

.mobile-menu{
    display: none;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    top: 35%;
    width: 60px;
    height: 40px;
}

.toggle-button .bar {
    height: 6px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1200px) {

    .header{
        display: flex;
    }
    .menu{
        display: none;
    }

    .bottom{
        display: none;
    }
    .social{
        margin-left: 0;
    }

    .social span{
        display: none;
    }
    
}


