.body{
    background: -moz-linear-gradient(top, #1a2434 38%, #931d37 65%, #d14f51 85%,#d14f51 99%);
    background: -webkit-linear-gradient(top, #1a2434 38%, #931d37 65%, #d14f51 85%, #d14f51 99%);
    background: linear-gradient(to bottom, #1a2434 38%, #931d37 65%, #d14f51 85%,#d14f51 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a2434', endColorstr='#ff6668', GradientType=0);
}

.mobile-menu{
    visibility: hidden;
}

@media (max-width: 1000px) {
    .toggle-button{
        display: flex;
    }

    .header-right-side{
        display: none;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        border: none;
        background-color: #1A2434;
        line-height: 100px;
    }

    .mobile-menu{
        width: 100%;
    }

    .mobile-menu{
        visibility: none;
    }

    .mobile-menu.active{
        visibility: visible;
        height: 100%;
    }

    header.active{
        height: 100%;
    }
    .logo{
        padding-top: 12px;
    }

}

@media (max-width: 1400px) {

    .popup .popuptext {
        width: 60px;
        margin-left: -30px;
        bottom: -250%;
    }

    .social {
        width: 100px;
        font-size: 10px;
    }
    
    .social ul i {
        font-size: 16px;
    }
}
