@font-face {
    font-family: 'Zona Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Bold'), url('ZonaPro-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Zona Pro Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Zona Pro Thin'), url('ZonaPro-Thin.woff') format('woff');
}